.dropdown {
  background-color: transparent;
  border: 1px solid grey;
  width: fit-content;
  height: fit-content;
}

.dropdownButton {
  padding: 0;
  margin: 0;
}

.dropdownMenu {
  position: absolute;
  background-color: #fff !important;
  border-radius: 4px;
  padding: 12px;
}
