.Dialog {
  padding: 15px 20px;
  border: 1px solid #e8e7e7;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  left: 40px;
  width: 270px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
